* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border: 2px solid black;
  border-radius: 32px;
  height: 72vh;
  padding-left: 65px;
  padding-right: 38px;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

form label, form input {
  font-size: 1.37rem;
}

form label {
  margin-bottom: 8px;
  margin-top: 14px;
}

form input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  width: 20vw;
}

form input::placeholder {
  color: rgb(194, 192, 192);
}


form input[type='password'] {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

form button[type='submit'] {
  width: 38vh;
  padding: 18px 50px;
  border: none;
  border-radius: 12px;
  background-color: black;
  color: #fff;
  font-size: 1.62rem;
  margin-top: 24px;
  cursor: pointer;
}

form input:focus {
  outline: 2px solid red;
}

form>.input-name:required:invalid,
form>#email:required:invalid,
form>.password-input>input[type='password']:required:invalid{
  border: 2px solid red;
}
form>.input-name:required:invalid::placeholder,
form>#email:required:invalid::placeholder,
form>.password-input>input[type='password']:required:invalid::placeholder{
  color: red;
}

form>.input-name:required:invalid~.error-name-message,
form>#email:required:invalid~.error-email-message,
form>.password-input>input[type='password']:required:invalid~.error-password-message {
  display: block;
  color: rgb(255, 0, 0);
  font-weight: bold;
  margin-top: 14px;
  margin-left: 6px;
}

form button[type='submit']:focus {
  outline: 2px solid red;
}

form .password-input {
  position: relative;
}

form .password-input button {
  position: absolute;
  right: 2px;
  top: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 90%;
  width: 10%;
  border-radius: 4px;
}

form .password-input button:focus {
  outline: 2px solid red;
}

form>.password-input>input[type='password']:required:invalid~.error-password-message ~ button{
  display: none;
}


/* Profile percentage */

.profile-completeness {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

.profile-completeness  .profile-percentage{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 2rem;
}

.profile-completeness h3 {
  font-size: 1.37rem;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}


.profile-completeness ul {
  background-color: rgb(206, 206, 206);
  list-style: none;
  height: 55%;
  width: 15vw;
  padding: 30px;
  border-radius: 32px;
  font-size: 1.12rem;
  margin-top: 6px;
}

.profile-completeness ul li {
  margin-top: 12px;
}

.profile-completeness ul li:nth-child(-n+3){
  text-decoration:line-through;
  opacity: 0.3
}