* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  border: 2px solid black;
  border-radius: 32px;
  height: 74vh;
  padding: 0 65px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

form label {
  margin-bottom: 8px;
  margin-top: 14px;
  font-size: 22px;
}

form input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 22px;
  width: 20vw;
}

form input::placeholder {
  color: rgb(194, 192, 192);
}


form input[type='password'] {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

form button[type='submit'] {
  width: 38vh;
  padding: 18px 50px;
  border: none;
  border-radius: 12px;
  background-color: black;
  color: #fff;
  font-size: 26px;
  margin-top: 24px;
  cursor: pointer;
}

form input:focus {
  outline: 2px solid red;
}

form>.input-name:required:invalid,
form>#email:required:invalid,
form>.password-input>input[type='password']:required:invalid{
  border: 2px solid red;
}
form>.input-name:required:invalid::placeholder,
form>#email:required:invalid::placeholder,
form>.password-input>input[type='password']:required:invalid::placeholder{
  color: red;
}

form>.input-name:required:invalid~.error-name-message,
form>#email:required:invalid~.error-email-message,
form>.password-input>input[type='password']:required:invalid~.error-password-message {
  display: block;
  color: rgb(255, 86, 86);
  font-weight: bold;
  margin-top: 14px;
  margin-left: 6px;
}

form button[type='submit']:focus {
  outline: 2px solid red;
}

form .password-input {
  position: relative;
}

form .password-input button {
  position: absolute;
  right: 8px;
  top: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

form>.password-input>input[type='password']:required:invalid~.error-password-message ~ button{
  display: none;
}
